<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
    <body>
        <h1>Bem-Vindo - Livraria Mastertech</h1>
        <p>Cadastre os livros</p>

        <a href="/livros"><button>Exibir Livros</button></a>

        <form action="cadastrar" method="POST">

            <label>Nome: </label>
            <input type="text" name="nome"><br>

            <label>Autor: </label>
            <input type="text" name="autor"><br>

            <label>Descrição</label>
            <textarea name="descricao" id="" cols="30" rows="10"></textarea><br>

            <select name="genero">
                <option value="literatura">Literatura</option>
                <option value="acao">Ação</option>
                <option value="suspense">Suspense</option>
                <option value="romance">Romance</option>
            </select><br>

            <button>Cadastrar</button>
        </form>
    </body>
</html>